.env/pyvenv.cfg
P1\lstm_model\
.env
Temas Selectos/P1/lstm_model.zip
Temas Selectos/P1/lstm_model/fingerprint.pb
Temas Selectos/P1/lstm_model/saved_model.pb
Temas Selectos/P1/lstm_model/variables/variables.data-00000-of-00001
Temas Selectos/P1/lstm_model/variables/variables.index
RN/P2/Proy vanessa/prueba/
