.env/pyvenv.cfg
P1\lstm_model\
.env
Temas Selectos/P1/lstm_model.zip
Temas Selectos/P1/lstm_model/fingerprint.pb
Temas Selectos/P1/lstm_model/saved_model.pb
Temas Selectos/P1/lstm_model/variables/variables.data-00000-of-00001
Temas Selectos/P1/lstm_model/variables/variables.index
RN/P2/Proy vanessa/prueba/
RN/P2/Proy vanessa/Cuadrado.png
RN/P2/Proy vanessa/deca.jpg
RN/P2/Proy vanessa/squares/squares/
Temas Selectos\P2\CNN\Dataset\
Temas Selectos/P2/CNN/Dataset/

Temas Selectos/P2/AUTOENCODER/Image_autoencoder/Dataset/

cudnn-local-repo-ubuntu2204-9.1.1_1.0-1_amd64.deb
Temas Selectos/P2/CNN/fotos_vehicles/

Temas Selectos/P2/AUTOENCODER/Image_autoencoder/autoencoder.png
Temas Selectos/P2/AUTOENCODER/Image_autoencoder/encoder.png
Temas Selectos/P2/AUTOENCODER/Image_autoencoder/decoder.png
Temas Selectos/P2/AUTOENCODER/Superresolution/Data/
DL_CIC/generalización/data/
Temas Selectos/P2/AUTOENCODER/Image_autoencoder/autoencoder.png
Temas Selectos/P2/AUTOENCODER/Image_autoencoder/encoder.png
Temas Selectos/P2/AUTOENCODER/Superresolution/autoencoder.png
Temas Selectos/P2/AUTOENCODER/Superresolution/encoder.png
Temas Selectos/P2/AUTOENCODER/Image_autoencoder/autoencoder.png
Temas Selectos/P2/AUTOENCODER/Image_autoencoder/encoder.png
Temas Selectos/P2/AUTOENCODER/Superresolution/decoder.png
Temas Selectos/P2/AUTOENCODER/Image_autoencoder/autoencoder.png

Temas Selectos/P2/GAN/cartoon_20000.zip
Temas Selectos/P2/GAN/cartoon_dataset/cartoon_20000
